<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DialectSoftware.Web" version="1.0.1" targetFramework="net45" />
  <package id="Google.GData.Client" version="2.2.0.0" targetFramework="net45" />
  <package id="Google.GData.Extensions" version="2.2.0.0" targetFramework="net45" />
  <package id="Google.GData.Spreadsheets" version="2.2.0.0" targetFramework="net45" />
  <package id="NetTelegramBotApi" version="3.3.50701.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="RestSharp" version="105.0.1" targetFramework="net45" />
  <package id="TrelloNet.Edge" version="0.7.2.1" targetFramework="net45" />
</packages>